[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = {{ .name }}
	email = {{ .email }}
[alias]
	br = branch
[core]
	excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

{{- if eq .chezmoi.os "darwin" }}
[credential]
	helper = osxkeychain
{{- end }}

{{- if eq .chezmoi.os "linux" }}
[credential]
	helper = cache --timeout=3600
{{- end }}
